<div class="container">
    <div class="row pt-3">
        <div class="col-6">
            <h3>لیست واحدها</h3>
        </div>
        <div class="col-6 text-left">
            <button class="btn btn-primary" id="addUnitBtn">+ افزودن واحد جدید</button>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>شماره واحد</th>
                        <th>طبقه</th>
                        <th>متراژ</th>
                        <th>دارای پارکینگ</th>
                        <th>دارای انباری</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (units.length> 0) { %>
                        <% units.forEach((unit, index)=> { %>
                            <tr>
                                <td>
                                    <%= (currentPage-1) * 6 + index + 1 %>
                                </td>
                                <td>
                                    <%= unit.unit_number %>
                                </td>
                                <td>
                                    <%= unit.floor %>
                                </td>
                                <td>
                                    <%= unit.meterage %>
                                </td>
                                <td>
                                    <%- unit.has_parking===1 ? '<i class="bi bi-check-circle text-success"></i>'
                                        : '<i class="bi bi-x-circle text-danger"></i>' %>
                                </td>
                                <td>
                                    <%- unit.has_warehouse===1 ? '<i class="bi bi-check-circle text-success"></i>'
                                        : '<i class="bi bi-x-circle text-danger"></i>' %>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-warning edit-btn" data-id="<%= unit.id %>"
                                        data-name="<%= JSON.stringify(unit) %>">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger delete-btn" data-id="<%= unit.id %>">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="7" class="text-center">هیچ واحدی یافت نشد!</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <% if (totalCount> 0) { %>
        <div class="row">
            <div class="col-6">
                تعداد کل: <%= totalCount %>
            </div>
            <div class="col-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination float-left">
                        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                            <a class="page-link" href="/units/?page=<%= currentPage-1 %>">
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <% const pageCount=Math.ceil(totalCount/6) %>
                            <% for (let i=0; i < pageCount; i++) { %>
                                <li class="page-item <%= currentPage==i+1 ? 'active' : '' %>">
                                    <a class="page-link" href="/units/?page=<%= i+1 %>">
                                        <%= i+1 %>
                                    </a>
                                </li>
                                <% } %>
                                    <li class="page-item <%= currentPage === pageCount ? 'disabled' : '' %>">
                                        <a class="page-link" href="/units/?page=<%= currentPage+1 %>">
                                            <i class="bi bi-chevron-left"></i>
                                        </a>
                                    </li>
                    </ul>
                </nav>
            </div>
        </div>
        <% } %>
</div>

<!-- مودال افزودن/ویرایش -->
<div class="modal fade" id="unitModal" tabindex="-1" aria-labelledby="unitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">افزودن واحد</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="unitForm">
                    <input type="hidden" id="unitId" name="id"> <!-- برای تشخیص Add یا Update -->
                    <div class="mb-3">
                        <label for="unit_number" class="form-label">شماره واحد</label>
                        <input type="number" class="form-control" id="unit_number" name="unit_number" required>
                    </div>

                    <div class="mb-3">
                        <label for="floor" class="form-label">طبقه</label>
                        <input type="text" class="form-control" id="floor" name="floor" required>
                    </div>

                    <div class="mb-3">
                        <label for="meterage" class="form-label">متراژ</label>
                        <input type="number" class="form-control" id="meterage" name="meterage" required>
                    </div>

                    <div class="mb-3">
                        <label for="has_parking" class="form-label">دارای پارکینگ</label>
                        <input type="checkbox" class="form-check-input mr-1" id="has_parking" name="has_parking">
                    </div>

                    <div class="mb-3">
                        <label for="has_warehouse" class="form-label">دارای انباری</label>
                        <input type="checkbox" class="form-check-input mr-1" id="has_warehouse" name="has_warehouse">
                    </div>

                    <button type="submit" class="btn btn-success">ذخیره</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- مودال تایید حذف -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">تایید حذف</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                آیا مطمئن هستید که می‌خواهید این آیتم را حذف کنید؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">حذف</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modal = new bootstrap.Modal(document.getElementById("unitModal"));
        const modalTitle = document.getElementById("modalTitle");
        const unitIdInput = document.getElementById("unitId");
        const unitNumberInput = document.getElementById("unit_number");
        const floorInput = document.getElementById("floor");
        const meterageInput = document.getElementById("meterage");
        const hasParkingInput = document.getElementById("has_parking");
        const hasWarehouseInput = document.getElementById("has_warehouse");
        const unitForm = document.getElementById("unitForm");

        // وقتی دکمه افزودن کلیک شد، مودال در حالت افزودن باز شود
        document.getElementById("addUnitBtn").addEventListener("click", function () {
            modalTitle.innerText = "افزودن واحد";
            unitIdInput.value = "";  // مقدار ID را پاک کن
            unitNumberInput.value = "";
            floorInput.value = "";
            meterageInput.value = "";
            hasParkingInput.checked = false;
            hasWarehouseInput.checked = false;
            modal.show();
        });

        // وقتی دکمه ویرایش کلیک شد، مقدارها را پر کند
        document.querySelectorAll(".edit-btn").forEach(button => {
            button.addEventListener("click", function () {
                modalTitle.innerText = "ویرایش واحد";
                unitIdInput.value = this.getAttribute("data-id");
                unitNumberInput.value = JSON.parse(this.getAttribute("data-name")).unit_number;
                floorInput.value = JSON.parse(this.getAttribute("data-name")).floor;
                meterageInput.value = JSON.parse(this.getAttribute("data-name")).meterage;
                hasParkingInput.checked = JSON.parse(this.getAttribute("data-name")).has_parking;
                hasWarehouseInput.checked = JSON.parse(this.getAttribute("data-name")).has_warehouse;
                modal.show();
            });
        });

        // ارسال فرم برای افزودن یا ویرایش
        unitForm.addEventListener("submit", function (event) {
            event.preventDefault();

            const formData = new FormData(this);
            formData.set("has_parking", formData.get("has_parking") ? 1 : 0)
            formData.set("has_warehouse", formData.get("has_warehouse") ? 1 : 0)

            const unitId = formData.get("id");
            const url = unitId ? `/units/update/${unitId}` : "/units/add";
            const method = unitId ? "PUT" : "POST";

            fetch(url, {
                method: method,
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: new URLSearchParams(formData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        modal.hide();
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => console.error("Error:", error));
        });
    });

    // حذف واحد
    document.querySelectorAll(".delete-btn").forEach(button => {
        button.addEventListener("click", function () {
            const categoryId = this.getAttribute("data-id");

            // نمایش مودال تایید حذف
            const deleteConfirmModal = new bootstrap.Modal(document.getElementById("deleteConfirmModal"));
            deleteConfirmModal.show();

            // وقتی کاربر تایید می‌کند، حذف انجام می‌شود
            document.getElementById("confirmDeleteBtn").addEventListener("click", function () {
                fetch(`/units/delete/${categoryId}`, {
                    method: "DELETE"
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            deleteConfirmModal.hide(); // مخفی کردن مودال تایید حذف
                            location.reload(); // صفحه رفرش
                        } else {
                            alert("خطا در حذف");
                        }
                    })
                    .catch(error => console.error("Error:", error));
            });
        });
    });
</script>